<div id="home">
  <h1><span class="clock-time">{{time}}</span></h1>
  <div class="row">
    <div id="leftButton">{{leftButtonLabel}}</div>
    <div>{{quote}}</div>
    <div id="rightButton">{{rightButtonLabel}}</div>
  </div>
  <div class="bottom-button">{{bottomButtonLabel}}</div>
</div>
