<div class="homePageContainer">

  <h1 id="time"><span class="clock-time">{{time}}</span></h1>
  <div class="row">
     <div>{{quote}}</div>
  </div>
  <div class="left-btn">{{leftButtonLabel}}</div>
  <div class="right-btn">{{rightButtonLabel}}</div>
  <div class="bottom-button">{{bottomButtonLabel}}</div>
</div>